.container {
	background-color: #d3edf8;
}

header {
	background-color: #262626;
	color: lightgray;
}

.card {
	background-color: #262626;
	color: lightgrey;
	border-radius: 5px;
}

.review-info {
	list-style-type: none;
}

#image {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

footer {
	background-color: #262626;
	color: lightgray;
}