<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book</title>

<link rel="stylesheet" href="./css/layout.css"></link>
<link rel="stylesheet" href="./css/style.css"></link>

</head>

<body>
	<div class="container">
		<header>
			<h1 th:text="${book.Title}"></h1>
		</header>

		<div class="book">
			<div class="card">
				<img id="image" th:src="${book.image}"></img>
				<ul class="review-info">
					<li id="list-item1"><p th:text="|${book.description}|"></p></li>
				</ul>
			</div>
			<div class="tags" th:each="tag: ${book.tags}">
				<p class="tag" th:text="|${tag.tag}|" />
				<input type="hidden" name="tagId" th:value="${tag.id}" />
				<button class="deleteButton"
					th:attr="data-remove-id=${book.id}, data-tag-id=${tag.id}">Delete</button>
			</div>
			<ul th:each="singleComment: ${book.comments}">
				<li th:text="${singleComment.comment}"></li>
			</ul>

			<div>
				<form method="POST">
					<button th:formaction="@{/add-tag}" name="add">X</button>
				</form>
				<form method="POST">
					<label>Comment:</label> <input type="text" name="comment"></input>
					<input type="hidden" name="bookId" th:value="${book.id}"></input>
					<button name="save" th:formaction="@{/add-comment}">Save</button>
				</form>
				<a id="home" href="http://localhost:8080/home"><button
						type="button">Return Home</button></a>
			</div>
		</div>
		<footer>
			<p>Copyright ©Forever</p>
		</footer>
	</div>
	<script src="./js/tag-modifier.js"></script>
</body>
</html>