<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book</title>

<link rel="stylesheet" href="./css/layout.css"></link>
<link rel="stylesheet" href="./css/style.css"></link>

</head>

<body>
	<div class="container">
		<header>
			<h1 th:text="${bookModel.Title}"></h1>
		</header>

		<div class="book" th:each="book: ${bookModel}">
			<div class="card">
				<img id="image" th:src="${book.image}"></img>
				<ul class="review-info">
					<li id="list-item1"><p th:text="|${book.description}|"></p></li>
				</ul>
			</div>
			<ul th:each="singleTag: ${bookModel.tags}">
				<li><a th:href="@{/tag(id=${singleTag.id})}"
					th:text="|${singleTag.tag}|"></a>
					<form method="POST">
						<button th:value="${singleTag.id}" name="id"
							th:formaction="@{/add-comment}">X</button>
					</form></li>
			</ul>
			<div>
				<form method="POST">
					<label>Comment:</label>
					<input type="text" name="comment"></input>
					<input type="hidden" name="bookId" th:value="${book.id}"></input>
					<button name="save" th:formaction="@{/add-comment}">Save</button>
				</form>
				<a id="home" href="http://localhost:8080/home"><button
						type="button">Return Home</button></a>
			</div>
		</div>
		<footer>
			<p>Copyright ©Forever</p>
		</footer>
	</div>
</body>
</html>