<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book Reviews</title>

	<link rel="stylesheet" href="./css/layout.css"></link>
    <link rel="stylesheet" href="./css/style.css"></link>

</head>

<body>
	<div class="container">
		<header>
			<h1 th:text="|${genreModel.Genre} book reviews|"></h1>
		</header>
		<section>
			<ul th:each="book: ${booksModel}">
				<li><a th:href="@{/book(id=${book.Id})}"
					th:text="|${book.Title}|"></a></li>
			</ul>
		</section>
		<footer>
			<p>Copyright</p>
		</footer>
	</div>
</body>
</html>