<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Genres</title>
    
	<link rel="stylesheet" href="./css/layout.css"></link>
    <link rel="stylesheet" href="./css/style.css"></link>

</head>

<body>
	<div class="container">
		
		<header class="header">
			<h1>Book Reviews</h1>
		</header>
		<section class="review-type">
			<h2 id="genre-heading">Genres</h2>	
			<div class="genres">
				<ul th:each="genre: ${genresModel}">
				<li class="genre"><a th:href="@{/genre(id=${genre.Id})}"
					th:text="|${genre.Genre}|"></a></li>
				</ul>
			</div>
		</section>
		<footer class="footer">
			<p>Copyright ©Forever</p>
		</footer>
	</div>
</body>
</html>