<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book Reviews</title>

	<link rel="stylesheet" href="./css/layout.css"></link>
    <link rel="stylesheet" href="./css/style.css"></link>

</head>

<body>
	<div class="container">
		<header>
			<h1>Tags</h1>
		</header>
		<section>
		<ul th:each="tag: ${tags}">
			<li><a th:href="@{/tag(id=${tag.id})}"
			 th:text="|${tag.tag}|"></a>
			</li>
		</ul>
		</section>
		<footer>
			<p>Copyright ©1985</p>
		</footer>
	</div>
</body>
</html>

